.idea/
.vscode/
.trae/
pgsql/

**/target/
**/.classpath
**/.project
**/.settings/

assistant-web/node_modules/
assistant-web/dist/

**/__pycache__/
**/*.pyc

.env
.env.*
deploy/.env
deploy/.env.*

*.log

data/
ai-service/venv/

Redis/dump.rdb
Redis/server_log.txt
Redis/*.rdb
Redis/*.txt
